@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    margin: 0;
    background-color: #0000ff10;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    min-height: 100svh;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}